$gray: #333333;
$gray-light:#4F4F4F;
$card-text: #828282;
$pagination: #BDBDBD;
$gray-lighten: #E0E0E0;
$gray-lightest: #F2F2F2;
$page-bg: #FCFCFC;
$white: #FFFFFF;

$active: #007AFF;
$active--light: rgba(47, 128, 237, 0.1);
$active--lighten: #D5E6FB;
$success: #6FCF97;
$success--light: rgba($success, 0.1);
$warning: #F2C94C;
$error: #EB5757;
$error--light: rgba($error, 0.1);
$error--lighten: #FDEEEE;
