html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $page-bg;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

// Page layout
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 32px 52px;
}
